body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: auto;
  height: 100vh;
}

#menu {
  background-color: #f0f0f0;
}

#content {
  padding: 20px;
}

.menu-buttons {
  margin-top: 20px; /* Adjust as needed */
  text-align: center; /* Center align buttons */
}

.menu-buttons button {
  background-color: #FFFFFF;
  color: #000000;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.menu-buttons button:hover {
  background-color: #000000;
  color: #FFFFFF;
}